node_modules
# Keep environment variables out of version control
.env

/generated/prisma

.wwebjs_auth
.wwebjs_cache
src/backups/

migration/

prisma/dev.db
prisma/dev_backup_before_supabase.db
prisma/full_backup_before_migration.db